.info-container {
    width: 30%;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    margin-top: 0.5%;
}

.info-form {
    margin-top: 0.5%;
}

.info-label-text {
    display: inline;
    margin-bottom: 0.5%;
}

input {
    margin-bottom: 0.5%;
}

label {
    padding-right: 0.75%;
}

.note-label, #note-textarea {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    font-size: 22px;
    height: 170px;
    width: 74%;
    resize: none;
}

#search-field {
    margin-top: 2%;
    margin-bottom: -1%;
    width: 55%;
}

.entries-container {
    width: 65%;
    height: 71vh;
    padding-left: 0.5%;
    padding-top: 0.6%;
    margin-right: 2%;
    border: 2px solid grey;
    float: right;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

.entry {
    width: 98.5%;
    border: 2px solid black;
    float: right;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    margin-right: 0.7%;
    margin-bottom: -5.5%;
    text-align: left;
}

.entry-note {
    font-size: 34px;
    margin-top: 0%;
    margin-bottom: -2px;
    white-space: pre-line;
}

/*
.exercise-entries-container {
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    height: 55vh;
}

.exercise-entries-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 1fr 1fr;
    height: fit-content;
}
*/