.info-container {
    width: 30%;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    margin-top: -1.5%;
}

.info-form {
    margin-top: 0.5%;
}

.info-label-text {
    display: inline;
    margin-bottom: 0.5%;
}

input {
    margin-bottom: 0.5%;
}

label {
    padding-right: 0.75%;
}

.note-label, #note-textarea {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    font-size: 22px;
    height: 84px;
    width: 73%;
    resize: none;
}

.entry {
    width: 65%;
    border: 2px solid black;
    float: right;  
    padding-left: 0.5%;
    padding-bottom: 0.35%;
    margin-right: 1%;
    text-align: left;
}

.entry-note {
    font-size: 34px;
    margin-top: 0%;
    margin-bottom: -2px;
    white-space: pre-line;
}



/*
.exercise-entries-container {
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    height: 55vh;
}

.exercise-entries-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 1fr 1fr;
    height: fit-content;
}
*/