input, button, select  {
    font-size: 30px;
}

.inline-label {
    padding-right: 1%;
}

.calendar {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
}

.entry-info {
    text-align: left;
    height: 87%;
    width: 29%;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 11%;
    right: 0.5%;
}