input, button, select  {
    font-size: 30px;
}

.inline-label {
    padding-right: 16px;
}

.calendar {
    width: 800px;
    display: inline-flex;
    flex-direction: column;
}

.entry-info {
    text-align: left;
    height: 87vh;
    width: 520px;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 105px;
    right: 15px;
}