input, button, select  {
    font-size: 30px;
}

.inline-label {
    padding-right: 16px;
}

.calendar {
    size: 10px;
    width: 800px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
}